<% provide(:title, "About") %>
<h1>About</h1>
<h3>About this page</h3>
<p>This page is created using the Consumer Price Index data gathered by the World Bank. Many nations offer an online CPI converter for their nation, but there is none that compares the values internationally.</p>
<p>
	For example, if you were born in Sweden, but you and your family currently live in Singapore, how does the pocketmoney given to you in 1990 compare to that of your children, today?
</p>
<p>
	The Worldwide CPI can answer such questions, and many more.
</p>

<h3>About the author</h3>
<p>
	This page was created by ylla using Ruby on Rails.
</p>