<% provide(:title, "Help") %>
<h1>Help</h1>
<h3>How to</h3>
<p>
	Select the year and the nations you wish to compare.
</p>
<p>
	Next, select the nation of the currency. For AUD, select Australia.
</p>
<p>
	Third, enter the monetary amount in the chosen currency. You don't need to specify for which year or country the amount is for, all possible values will be presented to you.
</p>
<p>
	Click the submit button.
</p>

<h3>Further questions</h3>
<p>
	If you have any further questions, feel free to contact <a href="http://www.github.com/ylla">ylla on github</a>.
</p>