<header class="navbar navbar-fixed-top navbar">
  <div class="container">
    <%=link_to "calculate cpi for any country", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",  about_path %></li>
      </ul>
    </nav>
  </div>
</header> 